Repository fachrinfl/danaverse-crowdfunding, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danaverse-team, @danaverse-web-team, @danaverse-mobile-team, @danaverse-api-team, @danaverse-contracts-team, @danaverse-devops-team

feat(ci): add comprehensive CI/CD pipeline and release management
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  CI_CD_GUIDE.md
  apps/api/env.example
  apps/mobile/env.example
  apps/web/env.example
  package.json
  scripts/release.sh
Owners: @danaverse-devops-team, @danaverse-team, @danaverse-api-team, @danaverse-mobile-team, @danaverse-web-team

feat(github): add comprehensive branch protection and issue templates
  .github/ISSUE_TEMPLATE/accessibility_issue.md
  .github/ISSUE_TEMPLATE/api_issue.md
  .github/ISSUE_TEMPLATE/blockchain_issue.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/ci_cd_issue.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/contract_issue.md
  .github/ISSUE_TEMPLATE/documentation_issue.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/infrastructure_issue.md
  .github/ISSUE_TEMPLATE/mobile_issue.md
  .github/ISSUE_TEMPLATE/package_issue.md
  .github/ISSUE_TEMPLATE/performance_issue.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/ISSUE_TEMPLATE/translation_issue.md
  .github/ISSUE_TEMPLATE/ux_issue.md
  .github/ISSUE_TEMPLATE/web_issue.md
  .github/pull_request_template.md
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/environment-setup.yml
Owners: @danaverse-team, @danaverse-devops-team

docs: add comprehensive branch strategy documentation
  BRANCH_STRATEGY.md
Owners: @danaverse-team

fix(ci): add staging branch to CI workflow triggers
  .github/workflows/ci.yml
Owners: @danaverse-devops-team

docs: reorganize and clean up documentation structure
  CHANGELOG.md
  README.md
  SCRIPTS_GUIDE.md
  apps/api/test-api.go
  apps/mobile/docs/MOBILE_DEVELOPMENT_GUIDE.md
  apps/mobile/test-mobile.tsx
  apps/web/test-web.tsx
  contracts/test-contract.sol
  docs/README.md
  docs/deployment/CI_CD_GUIDE.md
  docs/development/BRANCH_STRATEGY.md
  docs/development/CODE_QUALITY_TOOLS.md
  docs/development/HUSKY_SETUP_GUIDE.md
  infra/test-infra.tf
  packages/test-package.ts
Owners: @danaverse-team, @danaverse-api-team, @danaverse-mobile-team, @danaverse-web-team, @danaverse-contracts-team, @danaverse-devops-team

feat(cursor): add comprehensive Cursor Rules for all projects
  .cursorrules
  apps/api/.cursorrules
  apps/mobile/.cursorrules
  apps/web/.cursorrules
  contracts/.cursorrules
  packages/.cursorrules
Owners: @danaverse-team, @danaverse-api-team, @danaverse-mobile-team, @danaverse-web-team, @danaverse-contracts-team

fix(cursor): update Cursor Rules with final improvements
  .cursorrules
  apps/api/.cursorrules
  apps/mobile/.cursorrules
  apps/web/.cursorrules
Owners: @danaverse-team, @danaverse-api-team, @danaverse-mobile-team, @danaverse-web-team

fix(ci): resolve CI/CD pipeline errors
  .github/workflows/ci.yml
Owners: @danaverse-devops-team

feat(ai): add Cursor AI integration for automated code review
  .github/cursor-ai-config.yml
  .github/workflows/ai-code-review.yml
  docs/development/CURSOR_AI_INTEGRATION.md
  scripts/cursor-ai-integration.sh
Owners: @danaverse-team, @danaverse-devops-team

fix(ai): update Cursor AI integration files
  .github/cursor-ai-config.yml
  .github/workflows/ai-code-review.yml
Owners: @danaverse-team, @danaverse-devops-team

fix(scripts): fix branch protection API format and add fix script
  scripts/cursor-ai-integration.sh
  scripts/fix-branch-protection.sh
Owners: @danaverse-team

test(ai): add test files for AI code review
  test-ai-review.go
  test-ai-review.js
  test-ai-review.sol
  test-ai-review.ts
Owners: @danaverse-team

fix(ai): resolve all 76 issues detected by AI code review
  test-ai-review.go
  test-ai-review.js
  test-ai-review.sol
  test-ai-review.ts
Owners: @danaverse-team

cleanup: remove AI review test files
  test-ai-review.go
  test-ai-review.js
  test-ai-review.sol
  test-ai-review.ts
Owners: @danaverse-team

fix(ai): improve error handling in AI code review workflow
  .github/workflows/ai-code-review.yml
Owners: @danaverse-devops-team

fix(ai): add comprehensive error handling to all AI review steps
  .github/workflows/ai-code-review.yml
Owners: @danaverse-devops-team

.github/CODEOWNERS:

# DanaVerse - Code Owners
# This file defines who is responsible for different parts of the codebase

# Global owners
* @danaverse-team

# Root level files
/README.md @danaverse-team
/.github/ @danaverse-team
/.gitignore @danaverse-team
/.gitattributes @danaverse-team
/package.json @danaverse-team
/pnpm-workspace.yaml @danaverse-team
/turbo.json @danaverse-team

# Documentation
/docs/ @danaverse-team
*.md @danaverse-team

# Web Application
/apps/web/ @danaverse-web-team
/apps/web/**/*.tsx @danaverse-web-team
/apps/web/**/*.ts @danaverse-web-team
/apps/web/**/*.css @danaverse-web-team

# Mobile Application
/apps/mobile/ @danaverse-mobile-team
/apps/mobile/**/*.tsx @danaverse-mobile-team
/apps/mobile/**/*.ts @danaverse-mobile-team
/apps/mobile/**/*.json @danaverse-mobile-team

# API Backend
/apps/api/ @danaverse-api-team
/apps/api/**/*.go @danaverse-api-team
/apps/api/**/*.sql @danaverse-api-team

# Smart Contracts
/contracts/ @danaverse-contracts-team
/contracts/**/*.sol @danaverse-contracts-team
/contracts/**/*.t.sol @danaverse-contracts-team

# Infrastructure
/infra/ @danaverse-devops-team
/infra/**/*.tf @danaverse-devops-team
/infra/**/*.yml @danaverse-devops-team
/infra/**/*.yaml @danaverse-devops-team

# Shared Packages
/packages/ @danaverse-team
/packages/**/*.ts @danaverse-team
/packages/**/*.tsx @danaverse-team

# Scripts
/scripts/ @danaverse-team
/scripts/**/*.sh @danaverse-team

# CI/CD
/.github/workflows/ @danaverse-devops-team
/.github/workflows/**/*.yml @danaverse-devops-team
/.github/workflows/**/*.yaml @danaverse-devops-team

# Configuration files
/.eslintrc.js @danaverse-team
/.prettierrc.js @danaverse-team
/tsconfig.json @danaverse-team
/jest.config.js @danaverse-team
